@using Microsoft.AspNetCore.Identity
@using Identity.Areas.Identity.Data

@inject UserManager<Identity.Areas.Identity.Data.ApplicationUser> UserManager
@inject SignInManager<Identity.Areas.Identity.Data.ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <!--<p>User Id : @ViewData["UserID"]</p>-->
</div>


@if (User.IsInRole("Admin"))
{
    <h1>Hello</h1>
}